<a href="https://colab.research.google.com/github/Seobway23/story/blob/master/0119PM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
데일리과제 5-4. 셀프넘버 및 제너레이터 찾기 예제		
데일리실습 5-2. 예외처리 활용, 연산 함수 구현 예제
   - 해당 문제는 제출만(예외처리 배운 후 풀기)

# Calendar&datetime을 이용하여 날짜분석 프로그램 만들기 !!

In [ ]:
import calendar
from datetime import datetime,date
#datetime nowㅇ에서 요일 확인하는 법
#datetime.(A.B.C)weekday()

days = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']


while True:
    year_time=int(input())
    if (year_time%4==0 and year_time%100!=0) or year_time%400==0:
        print('윤년입니다. 연도를 다시 입력해주세요')
  
    else:
        break

print(calendar.calendar(year_time))
#year_time=int(input())
month_time=int(input())
date_time=int(input())
T_date=date(year_time,month_time,date_time).weekday()

if T_date==0:
    A=days[T_date]
    
    print(f"경고 {A}입니다",'\n',f"{{'년':{year_time}, '월':{month_time},'일': {date_time},'요일':'{A}'}}")

2015
                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

8
31
경고 월요일입니다
 {'년':2015, '월':8,'일': 31,'요일':'월요일'}

# 데이터 구조 복습&심화

In [ ]:
# 문자열을 배열 받아 애너그램 단위로 그룹핑하는 함수 group_anagrams를 작성해라


# A.    입력 예시 
# ['eat','tea','tan','ate','nat','bat']

# B.    출력 예시 
# [ ['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'] ]

금요일

In [ ]:
A = ["eat", "tea", "tan", "ate", "nat", "bat"]



def group_anagrams(A):

    Count={}

    for key in A:
        Count_key=''.join(sorted(key))
    
        if Count_key in Count:
            Count[Count_key].append(key)

        else:
            Count[Count_key]=[key]
    
    B=list(Count.values()) #A.values()를 list로 묶어버리면 value값만 list로 묶을 수 있다
    return B


group_anagrams(A)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

1.
어떤 자연수 n이 있을 때, d(n)을 n의 각 자릿수 숫자들과 n 자신을 더한 숫자라고 정의하자
예를 들어 d(91)=9+1+91=101일 때, n을 d(n)의 generator라고 한다. 함수 fn_d(n)을 정의하여 보라

2.
어떤 숫자들은 하나 이상의 제너레이터를 가지고 있는데, 101의 제너레이터는 91뿐만 아니라 100도 있다.
반대로 제너레이터가 없는 숫자들도 있으며, 이런 숫자를 인도의 수학자가 셀프넘버라 이름붙였다.
예를 들어 1, 3, 5 , 7, 9 , 20, 31은 셀프넘버들이다.
셀프넘버를 판별하는 is_selfnumber(n)을 앞서 작성한 fn_d(n)을 사용하여 작성하라.

In [ ]:
#fn_d(91)
#101
# 1번째 방법- int-> string으로 바꾸고 각 자리에 따른 것들을 int로 변환하여 더하고 마지막 int(n)을 더한다
# 2번째 방법- 자리수를 10의 배수로 나눠서 각각 더한다

## Self number 판별 def 정의

In [9]:
#1 자리수 더하기
def sum_n(n):
    lst_n=list(str(n))
    map(int,lst_n)
    return sum(map(int,lst_n))

#2 generator 생성
def fn_g(n):
    sum_gen=0
    sum_gen= sum_n(n)+int(n)
    return sum_gen

#3self-number 판별
def is_selfnumber(n):
    fn_g(n)
    if fn_g(n) == n:
        print('This number is a generator integer')

    else:
        print('This number is a self-number')



is_selfnumber(91)

This number is a self-number

# 1. 간단한 N의 약수 
입력으로 1개의 정수 N 주어짐
정수 N의 약수를 오름차순으로 출력

In [68]:
N=int(input())

for i in range(1,N+1):
    if N%i==0:
        print(i, end=' ')

5
1 5

In [51]:
#입력 받기
#N=int(input())

#오름 차순 정의 -> list만들면 for문 차근차근하면 알아서 오름차순 정리됨
# A=[1,2,3,5,6,2,1,5]
#A.sort() # sort 는 A를 재정렬해주는 것
# B=sorted(A) #sorted는 A를 재정렬하여 B에 할당

#정수 N의 약수를 어떻게 고르냐
N=int(input())

def divisor_N(N):
    divisor_N1=[]
    for i in range(1,N+1):
            if N%i==0:
                divisor_N1+=[i]
                #print(divisor_N1)
    
    return divisor_N1
    #return sorted(divisor_N1,reverse=True) # -> 내림 차순 정렬

divisor_N(N)

10

[1, 2, 5, 10]

# 2. List 합 구하기
정수로만 이루어진 list에서 요소들의 합을 반환하는 list_sum 함수를 sum()을 적용하지 않고 구하시오.

In [73]:
def list_sum():
    list_S=0
    for i in N:
        List_S+=int(i)

    return List_S

A=[1,2,3]
list_sum()

TypeError: ignored

In [79]:
lst=[1,2,3,4,5]
def list_sum(lst):
    result=0
    for num in lst:
        result=result+ num
       # print(result)
    return result


list_sum(lst)

15

def 안에 for문을 돌릴려면 def 안에 result가 들어 있어야 함 

def 밖의 function이 완료된 return값은 -> 제 기능을 하지 못함

In [92]:
lst= [
    {'name':'kim','age': 12},
    {'name':'lee', 'age':4}   
]

def dict_list_sum(lst):
    result=0
    for dic in lst:
        result+=dic['age']

    return result


dict_list_sum(lst)

16

오우 이거는 좀 해봐야겠음
# 리스트 안의 리스트 뽑을 수 있다.

In [96]:
lst=[[1],[1,2],[1,2,3],[1,2,3,4]]

def all_list_sum(lst):
    result=0
    for sub_lst in lst:
        for num in sub_lst:
            result+=num
    return result

all_list_sum(lst)

20

In [ ]:
print()