<a href="https://colab.research.google.com/github/Seobway23/story/blob/master/pratice_0119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 리스트안의 딕셔너리 안의 리스트안의 딕셔너리를 꺼내올 수 있는가?

In [152]:
A=[{{"1":"2"}:{"2":"3"}},{},{}]

#안되는 듯 ?

TypeError: ignored

In [ ]:
{
    {"1":"2"} : {"2":"3"}
 }

In [ ]:
key =불변 -> string int  et a,,ll

value -> 

dic { 'b':1}
{ 'b':1}

# Anagram

In [220]:
## 궁금점 1

# sort가 되면 str은 sort를 취급하지 않는다.
# 목록에만 사용할 수 있다????
# 


words = ["eat", "tea", "tan", "ate", "nat", "bat"]
#sort의 경우 기존의 함수를 재정렬 한다
#sorted의 경우 새로 함수를 만들어 정렬한다
Count={}

for key in words:
  Count_key=''.join(sorted(key))
  #print(count_key)
  print(key)
  #Count[Count_key]= [key]
  print(Count)
  # print(Count)
  # print(key)

# print(type(Count))
# print(type(Count_key))
#만약에 count_key값이 같으면, value값에 그 값을 추가해 
 
  if Count_key in Count:
    Count[Count_key].append(key)
    print(Count)

  else:
    Count[Count_key]=[key]
    print("else", Count)
    
  # print(Count)

print(Count)

# # -> 왜 count_key 값으로 value값이 정해지는가?

eat
{}
else {'aet': ['eat']}
tea
{'aet': ['eat']}
{'aet': ['eat', 'tea']}
tan
{'aet': ['eat', 'tea']}
else {'aet': ['eat', 'tea'], 'ant': ['tan']}
ate
{'aet': ['eat', 'tea'], 'ant': ['tan']}
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan']}
nat
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan']}
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat']}
bat
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat']}
else {'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [230]:
# Anagram으로 dictionary형태로 묶어!!
words = ["eat", "tea", "tan", "ate", "nat", "bat"]
Anagram={}

for word in words:
    W=''.join(sorted(word))
    
    if W in Anagram:
        Anagram[W].append(word)
        #print(Anagram)
    else:
        Anagram[W]=[word] #-> 만약 없다면 w에 key, i의 딕셔너리 하나를 추가할꺼야
        #print("else라면",Anagram)


print(Anagram)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [231]:
words = ["eat", "tea", "tan", "ate", "nat", "bat"]

w={}

for i in words:
  key=''.join(sorted(i))

  if key in w:
    w[key].append(i)


  else:
    w[key]=[i] #-> 만약 없다면 w에 key, i의 딕셔너리 하나를 추가할꺼야


print(w)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [221]:
def function_my_magic_func(n):
  return n*10

my_list=[1,2,3,4,5]
my_list_1=[]
for i in my_list:
  my_list_1+=[i*10]


print(my_list_1)

[10, 20, 30, 40, 50]

In [87]:
def function_my_magic_func(n):
  return n*10

my_list=[1,2,3,4,5]


map_obj= map (function_my_magic_func,my_list)
print(list(map_obj))

[10, 20, 30, 40, 50]

In [ ]:
def odd(n):
  return n&2

numbers=[1,2,3]
result=filter(odd,numbers)
print()

In [90]:
name_list=['a','b','c','d']
age_list=[1,2,3,4]

list(zip(name_list,age_list))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [96]:
# def function_my_magic_func(n):
#   return n*10


map_obj= map ((lambda n: n*10),[1,2,3])
rlt=list(map_obj)

print(rlt)

[10, 20, 30]

In [95]:
n=int(input())

rlt= print((lambda x: x*x)(n))

5
25

In [109]:
dictionary={'1':2,'3':4}

dictionary.keys()

dict_keys(['1', '3'])

In [127]:
# 자기 자신을  호출하는 함수

# def recur():
#     print('뿅')
#     recur()


#factorial 

def fac(n):
    if n==0:
        return 1
    return n * fac(n-1)

fac(5)

120

In [138]:
def test(*args, **kwargs):
  print(kwargs, type(kwargs))
  print(args)
  return kwargs


test(1,2,3,4, name='aiden', age=21,music='IU')

{'name': 'aiden', 'age': 21, 'music': 'IU'} <class 'dict'>
(1, 2, 3, 4)

{'name': 'aiden', 'age': 21, 'music': 'IU'}

In [142]:
import random


a=[1,2,4,5]

random.shuffle(a)

print(a)


print(random.suffle(a))

[4, 5, 2, 1]

AttributeError: ignored

In [148]:
a=[1,5,4,2]

a.sort()


print(a)

[1, 2, 4, 5]

In [162]:
ltst=[1,2]

def function_2():
  n=n*5
  
B=map(function_2,ltst)

print(list(B))

TypeError: ignored