<a href="https://colab.research.google.com/github/Seobway23/story/blob/master/practice_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
words = ["eat", "tea", "tan", "ate", "nat", "bat"]

# 문자열 배열을 받아 애너그램 단위로 그룹핑하라

애너그램 단위라는 말은 순서 상관 없이 같은 단어라면 묶어라 라는 뜻 

1. 애너그럼으로 아웃풋 낼 수 있는 함수를 찾아야 함
2. 같은 값들 그룹핑

끝

In [ ]:
words = ["eat", "tea", "tan", "ate", "nat", "bat","banana","ananab","nanaba","aannba","bannaa"]
result={}

for word in words:
  w=''.join(sorted(word))           #sorted(word) = 'a','e','t' -> 'aet'로 합쳐주는 함수가 join이다.
  result[w]=result.get(w,[])+[word] # get(key)을 쓰면 value값 반환

print(result)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat'], 'aaabnn': ['banana', 'ananab', 'nanaba', 'aannba', 'bannaa']}

각 단어들을 sorted로 정리하여 차순으로 나타낼 수 있는가?

## Dicionary로 이루어진 list를 전달받아 모든 dictionary의 'age key'에 해당하는 value들의 합을 구하시오!!!!

In [ ]:
infos = [{'name': 'kim', 'age': 12}, {'name': 'lee', 'age': 4}]

sum_age=0

for key in infos:
  sum_age+=key['age']


print(sum_age)

16

## 복잡 자료형 딕셔너리 작성 및 활용

- key(혈액형 종류) : value(사람수 )

In [ ]:
blood_types = [ 'A','A','O', 'B', 'A', 'O', 'AB','O', 'A', 'B', 'O', 'B', 'AB']

In [ ]:
blood_types = [ 'A','A','O', 'B', 'A', 'O', 'AB','O', 'A', 'B', 'O', 'B', 'AB']

Count={}

for key in blood_types:
  if key in Count:
    Count[key]+=1

  else:
    Count[key]=1

print(Count)

{'A': 4, 'O': 4, 'B': 3, 'AB': 2}

In [ ]:
from collections import Counter
blood_type_count = dict(Counter(blood_types))
print(blood_type_count)

{'A': 4, 'O': 4, 'B': 3, 'AB': 2}

In [ ]:
from collections import Counter
blood_type_count=dict(Counter(blood_types))
print(blood_type_count)

{'A': 4, 'O': 4, 'B': 3, 'AB': 2}

In [ ]:
density_brine=[]
amount_brine=[]
amount_sort=[]
for i in range(1,6):
  A,B=map(float,input().split())
  density_brine+=[A]
  amount_brine+=[B]
  amount_sort+=[A*B]
#list에 float형태로 넣을 수?

total_density=(sum(amount_sort)/sum(amount_brine))

print(round(sum(density_brine)/sum(amount_brine),2))
print(round((total_density),2))

1 1

TypeError: ignored

In [ ]:
A=['2']

int(A[0])

2

In [ ]:
print(round((total_density),2))

0.28

# 소금물의 양, 농도 퍼센트 구하는 공식

In [ ]:
print(round(sum(density_brine,2)/sum()))

TypeError: ignored

In [ ]:
print(round(sum(density_brine)/sum(amount_brine),2))

1.0

In [ ]:
a= ['1','2','3','4','5']
an222=[]
for i in range(1,4):
  an222.append(i)

print(an222)

[1, 2, 3]